@page "/Group/{gid:groupid}/CreateShelf"
@model LibellusWeb.Pages.Group.Shelf.CreateShelfModel
@{
    ViewData["Title"] = "Create shelf";
}

<div class="row d-flex">
    <div class="col-md-2">
        <partial name="Group/_SideNavPartial" model="Model.GroupId" />
    </div>

    <div class="col-md-6 align-items-center justify-content-center">
        <h2>Create a new shelf.</h2>
        <hr />
        <section>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <form class="form-floating" id="shelf" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Name" type="text" class="form-control" placeholder="Shelf name">
                    <label asp-for="Input.Name">Shelf name</label>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-check mb-3">
                    <label asp-for="Input.IsLocked" class="form-check-label">
                        <input asp-for="Input.IsLocked" class="form-check-input" />
                        Is locked from other users?
                    </label>
                </div>
                <div class="form-floating mb-3">
                    <textarea asp-for="Input.Description" class="form-control" placeholder="Description text" style="height: 200px"></textarea>
                    <label asp-for="Input.Description">Description (Optional)</label>
                    <span asp-validation-for="Input.Description" class="text-danger"></span>
                </div>

                <div>
                    <button id="create-post-submit" type="submit" class="w-100 btn btn-lg btn-primary">Create shelf</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}