@page "/Group/{gid:groupid}/Authors/{size:int=25}/{location:min(1)=1}"
@using LibellusWeb.ViewModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model LibellusWeb.Pages.Group.Author.AuthorsModel
@{
    ViewData["Title"] = "Authors";
}

<div class="row d-flex">
    <div class="col-md-2">
        <partial name="Group/_SideNavPartial" model="Model.GroupId" />
    </div>

    <div class="col-md-8 align-items-center justify-content-center">
        @{
            var createRoute = new Dictionary<string, string>
            {
                { "gid", Model.GroupId },
            };
        }
        <div class="d-flex justify-content-between">
            <h2>Authors.</h2><a asp-page="/Group/Author/CreateAuthor" asp-all-route-data="createRoute"><button class="btn btn-outline-success btn-sm" type="button">Create new author</button></a>
        </div>

        <partial name="_SearchPartial" model="string.Empty" />
        <hr />
        @{
            var index = 0;
            foreach (var author in Model.Authors)
            {
                <partial name="_AuthorVmPartial" model="new AuthorVm(author, Model.GroupId, Model.CoverLinkBase)" />

                if (index < Model.Authors.Count)
                {
                    <partial name="Shared/_TopMarginGapPartial" />
                }

                index++;
            }

            <partial name="Shared/_PageNavigationPartial" model="Model.PageNavigations" />
        }

    </div>

</div>