@page "/Group/{gid:groupid}/Author/{aid:authorid}/EditAuthor/{handler?}"
@model LibellusWeb.Pages.Group.Author.EditAuthorModel
@{
    ViewData["Title"] = "Edit author";
}

<div class="row d-flex">
    <div class="col-md-2">
        <partial name="Group/_SideNavPartial" model="Model.GroupId" />
    </div>

    <div class="col-md-8 align-items-center justify-content-center">
        <section>
            <h2>Edit author.</h2>
            <hr />

            <form class="form-floating" id="author" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Name" type="text" class="form-control" placeholder="Author name">
                    <label asp-for="Input.Name">Author name</label>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>

                <div>
                    <button id="create-book-submit" type="submit" class="w-100 btn btn-lg btn-primary">Edit author</button>
                </div>
            </form>

            <form asp-page-handler="delete" class="form-floating" id="author-delete" method="post">

                <div>
                    <button id="delte-book-submit" type="submit" class="mt-2 w-100 btn btn-lg btn-danger">Delete author</button>
                </div>

            </form>

            <hr />

            <form class="form-floating" id="cover" asp-page-handler="CoverChange" method="post" enctype="multipart/form-data">
                <div class="container">
                    <div class="row row-cols-2">
                        <div class="mb-3 input-group">
                            <label asp-for="Upload" class="input-group-text">Cover image</label>
                            <input id="coverupload" class="form-control" type="file" asp-for="Upload" accept="image/*" />
                            <button class="btn btn-outline-dark" type="button" id="coverclear" onclick="resetThing('coverupload')">Clear</button>
                        </div>
                        <button id="edit-cover-image-submit" type="submit" class="w-100 btn btn-lg btn-primary">Change cover image</button>
                    </div>
                </div>
            </form>

            <form asp-page-handler="CoverDelete" class="form-floating" id="cover-image-delete" method="post">
                <div>
                    <button id="delte-profile-picture-submit" type="submit" class="mt-2 w-100 btn btn-lg btn-danger">Delete cover image</button>
                </div>
            </form>
            
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}