@page "/Group/{gid:groupid}/BookEditions/{size:int=25}/{location:min(1)=1}"
@using LibellusWeb.ViewModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model LibellusWeb.Pages.Group.BookEdition.BookEditionsModel
@{
    ViewData["Title"] = "Book editions";
}

<div class="row d-flex">
    <div class="col-md-2">
        <partial name="Group/_SideNavPartial" model="Model.GroupId" />
    </div>

    <div class="col-md-10 align-items-center justify-content-center">
        @{
            var createRoute = new Dictionary<string, string>
        {
        { "gid", Model.GroupId },
        };
        }
        <div class="d-flex justify-content-between">
            <h2>Book editions.</h2>
        </div>

        <partial name="_SearchPartial" model="string.Empty" />

        <hr />

        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <partial name="_BookEditionVmTableRowHeaderPartial" />
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var book in Model.BookEditions)
                    {
                        <tr>
                            <partial name="_BookEditionVmTableRowPartial" model="new BookEditionVm(book, Model.GroupId, Model.CoverLinkBase, true)" />
                        </tr>
                    }
                }
        </table>

        <partial name="Shared/_PageNavigationPartial" model="Model.PageNavigations" />
    </div>
</div>