@page "/Errors/403"
@model AccessDeniedModel
@{
    ViewData["Title"] = "403 - Access denied";
}

<header>
    <div class="container">
        <h1 class="text-danger">403 Access denied</h1>
        <p class="text-danger">You do not have permission for this resource.</p>
    </div>
</header>
