@page "/Errors/404"
@model LibellusWeb.Pages.Errors.NotFoundModel
@{
    ViewData["Title"] = "404 - No such page";
}

<header>
    <div class="container">
        <h1 class="text-danger">404 Not found</h1>
        <p class="text-danger">No such page exists at this location.</p>
    </div>
</header>
