@page "/Group/{gid:groupid}/Series/{seid:seriesid}/EditSeries/{handler?}"
@model LibellusWeb.Pages.Group.Series.EditSeriesModel
@{
    ViewData["Title"] = "Edit series";
}

<div class="row d-flex">
    <div class="col-md-2">
        <partial name="Group/_SideNavPartial" model="Model.GroupId" />
    </div>

    <div class="col-md-8 align-items-center justify-content-center">
        <section>
            <h2>Create a new series.</h2>
            <hr />

            <form class="form-floating" id="series" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Title" type="text" class="form-control" placeholder="Series title">
                    <label asp-for="Input.Title">Series title</label>
                    <span asp-validation-for="Input.Title" class="text-danger"></span>
                </div>

                <div>
                    <button id="edit-series-submit" type="submit" class="w-100 btn btn-lg btn-primary">Edit series</button>
                </div>
            </form>

            <form asp-page-handler="delete" class="form-floating" id="series-delete" method="post">

                <div>
                    <button id="delete-series-submit" type="submit" class="mt-2 w-100 btn btn-lg btn-danger">Delete series</button>
                </div>

            </form>
            
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}