@page "/Group/{gid:groupid}/BookEdition/{beid:bookeditionid}/CreateReading"
@using LibellusWeb.ViewModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model LibellusWeb.Pages.Group.Reading.CreateReadingModel
@{
    ViewData["Title"] = "Create reading";
}

<div class="row d-flex">
    <div class="col-md-2">
        <partial name="Group/_SideNavPartial" model="Model.GroupId"/>
    </div>

    <div class="col-md-8 align-items-center justify-content-center">
        <h2>Create a new reading.</h2>
        <hr />

        <partial name="Group/BookEdition/_BookEditionVmPartial" model="new BookEditionVm(Model.BookEdition, Model.GroupId, Model.CoverLinkBase, true)"/>

        <partial name="Shared/_TopMarginGapPartial"/>
        <hr/>
        
        <section>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <form class="form-floating" id="reading" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="date" asp-for="Input.Started" />
                    <label asp-for="Input.Started">Started on date</label>
                    <span asp-validation-for="Input.Started" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="date" asp-for="Input.Finished" />
                    <label asp-for="Input.Finished">Finished on date</label>
                    <span asp-validation-for="Input.Finished" class="text-danger"></span>
                </div>
                <div class="form-check mb-3">
                    <label asp-for="Input.IsReread" class="form-check-label">
                        <input asp-for="Input.IsReread" class="form-check-input" />
                        Is reread of this book?
                    </label>
                </div>

                <div>
                    <button id="create-reading-submit" type="submit" class="w-100 btn btn-lg btn-primary">Create reading</button>
                </div>
            </form>
        </section>
        
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}